body
{
	margin: 0;
	padding: 0;
}
html body {
/*    background-color: #fafafa;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    text-rendering: optimizeLegibility;*/
    font-family: Roboto,sans-serif;
 }
.header-wrapper{
	z-index: 1;
    color: #fff;
    background-color: #039be5;
    width: 95%;
    top: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    padding: 15px 35px 0;
    display: inline-block;
    overflow: none;
    position: fixed;
    height: 53px;
    margin-bottom: 10px;
    left: 0px;
}

.header-wrapper > .header-title{
	font-size: 30px;
	float: left;
}

.header-wrapper > .header-title a{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}
.header-wrapper > .buttons{
	float: right;
	font-size: 25px;
}
.header-wrapper > .buttons a{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
	padding: 0 10px 0;
}
.header-wrapper > .buttons a:hover{
	text-decoration: underline;
}
.block
{
	z-index: 2;
	margin-top: 100px;
	width: 800px;
	padding-top: 10px;
	padding: 10px 150px;
	margin-left: 130px;
}
.search-elements form{
	text-align:  center;
}

.search-elements form{
	text-align:  center;
}
.graduation, .branch, .sem, .submit_button{
	width: 100px;
	height: 25px;
	font-size: 15px;
	border-radius: 5px;
	margin-right: 5px; 
}
.submit_button{
	border: none;
	background-color: #039be5;
	color: #ffffff;
	cursor: pointer;
}
.submit_button:hover{
	background-color: #ffffff;
	color: #039be5;
	border: 1px solid #039be5;
}
.data
{
	text-align: center;
	line-height: 25px; 
}

.data table {
    border-collapse: collapse;
    width: 100%;
}

.data table td, .data table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data tr:nth-child(even){background-color: #f2f2f2;}

.data tr:hover {background-color: #ddd;}

.data table th {
	padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #039be5;
    color: #ffffff;
}


.data table tr a{
	text-decoration: underline;
	color: #039be5;
}


.footer-block
{
	z-index: 3;
	position: absolute;
	width: 100%;
	height: 65px;
	color:#fff;
	background-color: #039be5;
	bottom: 0px;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
    box-sizing: border-box;
	padding: 25px 35px 0;
	display: block;
	overflow: none;
	position: absolute;
	
}
.box
{
	margin: auto;
	margin-top: 100px;
	width: 500px;
	padding-top: 10px;
	padding: 20px 150px;
	background-color:#f2f2f2; 
}
.box table{
	border-collapse: collapse;
    margin: auto;
}
.box table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.box table td span{
	padding-left: 20px;
}
.box table td img{
	width: 200px;
	height: 250px;
}

.subjects
{
	width: 100%;
	background-color: #f2f2f2;
	height: 300px;
}
.subjects span{
	float: left;
	margin: 65px 75px;
	position: relative;
}
.subjects a{
	border-radius: 5px;
	text-decoration: none;
	background-color: #039be5;
	color: #ffffff;
	padding: 25px 25px;
	cursor: pointer;
}
.subjects a:hover{
	color:#039be5;
	background-color: #ffffff;
	border: 1px solid #039be5;

}

.error1
{
	z-index: 1;
	background-color: #f2f2f2;
	height: auto;	
	width: 800px;
	font-size: 50px;
	font-weight: bold;
	color: red;
	margin-left: 280px;
	text-align: center;
	padding: 100px 0;
	display: none;
}

.error2
{
	display: none;
	z-index: 1;
	background-color: #f2f2f2;
	height: auto;	
	width: 100%;
	font-size: 50px;
	font-weight: bold;
	color: red;
	text-align: center;
	padding: 100px 0;
}

